<div class="container landingpage_buttons">
  <p class="is-4">Besucht uns auf:</p>
  <div class="buttons">
    <a class="button is-large" href="https://github.com/opendata-nuernberg">
      <span class="icon">
        <img loading="lazy" src="{{ '/assets/img/github.svg' | prepend: site.baseurl }}" alt="github logo" />
      </span>
    </a>
    <a class="button is-large" href="https://signal.group/#CjQKIK9DkfCrMAp1jLd7DA0cP2s-DncZ600yRQvTP_3XLEilEhAQQmbS-6xUv3KSLUNF9Zut">
      <span class="icon">
        <img loading="lazy" src="{{ '/assets/img/signal.svg' | prepend: site.baseurl }}" alt="signal logo" />
      </span>
    </a>
  </div>
</div>
